input, input:hover, input:focus, input:active {
  background: transparent;
  border: 0;
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}
.kanban-list {
  width:20rem;
  max-height: 100%;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.card-item {
  cursor: move;
}
.cdk-drag-animating {

  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.card-list.cdk-drop-list-dragging .card-item:not(.cdk-drag-placeholder) {

  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag.cdk-drag-preview .card-item {
  transform: rotate(15deg);
}

