<div class="d-flex" (mouseenter)="toggleDelete()"
     (mouseleave)="toggleDelete()">
  <p-card styleClass="shadow-2" [style]="{width: '18rem', 'margin-bottom': '1em'}"
          >
    <ng-template pTemplate="content">
      <div class="row">
        <div class="col-md-10" style="word-wrap: break-word">
          <p >{{description}}</p>

        </div>
        <div class="col-md-1">
          <button class="btn btn-sm text-danger" *ngIf="!isHidden" (click)="deleteCard(cardId)"><i class="bi bi-trash"></i></button>

        </div>

      </div>
    </ng-template>
    <!--    <ng-template pTemplate="content">-->

    <!--    </ng-template>-->
    <ng-template pTemplate="footer">
      <p>Deadline : {{deadline | date: 'dd.MM.yyyy'}}</p>
    </ng-template>
  </p-card>
</div>
